.card {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
  }
  
  .image-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-image {
    border-radius: 50%;
  }
  
  .name,
  .species,
  .gender {
    color: #7FFF00;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  